<div class="container mt-3">
      <h1>Diary Entry</h1>
      <table class="table">
          <thead>
              <th> No. </th>
              <th> Date </th>

              <th>Edit</th>
              <th>Delete</th>
              <th>Open</th>
          </thead>
          <tr *ngFor="let item of Dataarray let i=index" class="table-primary">
              <td> {{i+1}} </td>
              <td> {{item.title}}</td>

              <td><a [routerLink]="['/Home/edit/',item.did]"><i class="fa fa-edit"></i></a></td>
              <td><a [routerLink]="['/Home/delete/',item.did]"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
              <td><a [routerLink]="['/Home/read',item.did]"><i class="fa fa-book"></i></a></td>
          </tr>
      </table>
  </div>
